h1{
    text-align: center;
    color:#103350;
}
img{
    display: block;
    margin: 20px auto;
    width: 50%;
    border-radius: 8px;
}
form{
    display: block;
    margin: 0 auto;
    text-align: center;
}